body{
    background: url(movie.png) center center;/* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
     background-attachment: fixed;

     /* This is what makes the background image rescale based
     on the container's size */
     background-size: cover;

     /* Set a background color that will be displayed
     while the background image is loading */
     background-color: #464646;
     color: white;
}

#titulo{
    font-family: 'Lobster', cursive;
}

#col-s4{
    padding-top: 8%;
}

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}